<div class="controls">
	<div class="block" feature-chooser feature="eyes" choices="features.eyes" selected="face.features.eyes" on-select="updateFeature">Eyes</div>
	<div class="block" feature-chooser feature="nose" choices="features.nose" selected="face.features.nose" on-select="updateFeature">Nose</div>
	<div class="block" feature-chooser feature="mouth" choices="features.mouth" selected="face.features.mouth" on-select="updateFeature">Mouth</div>
	<div class="block" feature-chooser feature="hair" choices="features.hair" selected="face.features.hair" on-select="updateFeature">Hair</div>
</div>